<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/header :: header"></header>
<head>
    <meta charset="utf-8">
    <title>Courses</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1>Course table</h1>

<header>
        <span th:classappend="${activePage == 'courses'} ? active">
            <a th:href="@{/course}">Courses</a>
        </span>
    <span th:classappend="${activePage == 'users'} ? active">
            <a th:href="@{/user}">User</a>
        </span>
</header>

<form>
    <label for="titlePrefix" class="inline">Filter by title</label>
    <input th:value="${param.titlePrefix}" type="text" id="titlePrefix" class="inline" name="titlePrefix"/>
    <button>Apply</button>
</form>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
        <td th:text="${course.id}">1</td>
        <td><a th:text="${course.title}" th:href="@{/course/{id}(id = ${course.id})}">Course name</a></td>
        <td th:text="${course.author}">Course author</td>
        <td>
            <form th:method="delete" th:action="@{/course/{id}(id = ${course.id})}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{course/new}">New course</a>
</div>
</body>
</html>